<% provide :title,'Vorteile' %>
<h2>Warum Power.Check?</h2>
<p>
    Unser Anliegen ist es, Sie durch eine exzellente Dienstleistung langfristig für uns zu begeistern. Deshalb haben wir besondere Aufmerksamkeit auf die reibungslose Gestaltung unserer Prozesse gelegt.
</p>
<p>
    Wir sind nicht nur nach ISO9001 zertifiziert und von Prüfern der MEBEDO Akademie qualifiziert – wir kennen alle Tricks und Kniffe, einen weitgehend störungsfreien Ablauf ohne Arbeitsunterbrechungen in Ihrem Betrieb zu gewährleisten. Von der Projektaufnahme bis zum Projektabschluss sind alle Prüfschritte durchdekliniert. Doch sehen Sie selbst...
</p>
<h2>1. Prüfung durch DGUV Vorschrift 3 Experten</h2>
<p>
    Die Powerwork KG ist ISO9001:2008 zertifiziert, unsere Abteilung ist DGUV Vorschrift 3 dazu noch von MEBEDO qualifiziert. Experten
</p>
<h2>2. Geringe interne Prüfkosten</h2>
<p>
    Der strukturierte Power.check-Prozess mit 2-Mann-Teams ist um ca. Prüfkosten 70% effizienter: Wir prüfen 1000 Geräte in 8-9 anstatt der üblichen 14-17 Arbeitstagen. Zur Analyse der Gefährdung unterbreiten wir Ihnen Vorschläge, diese kosteneffizient zu senken. Bereits bei der Erstprüfung gewinnen Sie fast die Hälfte Ihrer durch die Prüfungen unterbrochenen Arbeitszeit. Zeit ist Geld - Ihr Geld!
</p>
<h2>3. Weniger Anfahrten </h2>
<p>
    Wer schneller prüft, braucht weniger Arbeitstage, also auch weniger Anfahrten - rechnen Sie selbst.
</p>
<h2>4. Kabelmanagement</h2>
<p>
  Bei der Erstprüfung bündeln wir die Kabel in modernen Management-
  mit System systemen.
  Das ergibt reduzierte Reinigungskosten, weniger Stolperfallen und
  damit ein geringerer Verlust an Arbeitzeit durch defekte oder heraus-
  gerissene Kabel sowie geringere Prüfkosten bei den DGUV Vorschrift 3-
  Wiederholungsprüfungen.
</p>
<h2>
  5. Sicherheitsplomben am Kabelmanagement
</h2>
<p>
  Unsere Kennzeichnung mit Sicherheitskabelbindern und Sicherheits-
  etiketten steigert die Effizienz der DGUV Vorschrift 3-Wiederholungs-
  prüfungen.
  Bei unversehrter Plombe brauchen dann nur die elektrischen Prüfungen
  durchgeführt zu werden. Ist sie beschädigt, können die Kabel schneller
  herausgelöst, geprüft und ggf. ausgetauscht werden.
  In beiden Fällen erreichen wir eine klare Kostensenkung.
</p>
<h2>6. Transparente Preisstrukturen </h2>
<p>
  Als Spezialisten bieten wir in nachvollziehbarer Kalkulation niedrige
  Preise und alle Preismodelle an:
  <ol>
    <li>
      Festpreis pro Anzahl der elektrischen Betriebsmittel incl. aller Regie-
      zeiten, es sei denn, die Prüfung erfordert Mehraufwand wie z.B.
      Steighilfen, Schutzausrüstung (unter Tage ), etc..</li>
    <li>
      Festpreis pro Anzahl der Arbeitsstunden Prüf- und Regiezeit.
    </li>
    <li>
      Festpreis pro Anzahl der elektrischen Prüfungen plus Abrechnung
      von Regiezeiten.
    </li>
  </ol>
  Wir empfehlen, Power.check nach Variante a) oder b) zu beauftragen.
  Die am Markt gerne angebotene Variante c) ist am Prüfort oft sehr
  zeitaufwendig, für Sie als Kunde intransparent und führt meist zu einem
  unerwartet hohen Endpreis.
</p>

<h2>7. Prüfung am Tagesrand / am Wochenende</h2>
<p>
  Wenn es Ihnen wichtig ist, die unvermeidlichen Störungen in Ihrem
  / am Wochenende Betriebsablauf zu minimieren.
</p>

<h2>8. Prüfung von Geräten im Dauerbetrieb 24h/7d</h2>
<p>
  Bei Servern, Klimaschränken, Messgeräten in der Produktion etc.
  im Dauerbetrieb 24h/7d stimmen wir die Termine und Abläufe zuvor mit Ihnen ab,
  z.B. Abschalten, Prüfen, Wiederanfahren und Vorgehen bei nicht
  bestandener Prüfung oder Problemen beim Wiederanfahren.
</p>
<h2>9. Sofortige Reparatur vor Ort </h2>
<p>
  Laut Statistik erfüllen 3-4 % der Betriebsmittel die DGUV Vorschrift 3-
  vor Ort Vorgaben nicht. In 2/3 der Fälle können wir dieses Sicherheitsproblem
  durch Tausch des Anschlusskabels schnell und kostengünstig lösen.
</p>
<h2>10. Datensicherheit (SSL - Ablage der
  Prüfdaten)</h2>
<p>
  Selbstverständlich entspricht unsere mehrfach redundante Datenablage
auf Servern in Deutschland dem weltweiten SSL Sicherheitsstandard.
Bei uns können Sie bedenkenlos online auf die Prüfergebnisse Ihrer
el. Betriebsmittel zugreifen. Ihre Daten werden auch nicht weiterverkauft - garantiert!
</p>
<h2>11. Wir sprechen mit Ihnen!</h2>
<p>
  Unsere Kunden zu informieren, genießt bei uns höchste Priorität.
  Natürlich erhalten Sie auch bei uns E-Mails zur Organisation, z.B. um
  Ihren Auftrag zu bestätigen.
  Doch unser Service geht weiter:
  <ul>
    <li>
      Wir halten Sie über jeden Schritt der Auftragsabwicklung auf dem
      Laufenden.
    </li>
    <li>
      Wir informieren Sie wöchentlich darüber, wie viele Geräte geprüft
      wurden, ob die Ergebnisse problematisch sind und teilen Ihnen mit,
      wann Ihr Projekt voraussichtlich abgeschlossen sein wird.
    </li>
    <li>
      Natürlich stimmen wir auch die gesetzlich vorgeschriebenen
      Prüfungen nach einer Reparatur und die Wiederholungsprüfungen
      nach 6, 12, 18 oder 24 Monaten persönlich mit Ihnen ab.
    </li>
  </ul>
</p>
