<% provide :title,'Home' %>
<div class="center hero-unit">
  <p>
    Wilkommen bei Power.Check, der Plattform rund um Ihre BVG A3 Prüfungen.
  </p>

  <%= link_to "Registrieren", signup_path, class: "btn btn-large btn-primary" %>
</div>
