<% provide :title,'Home' %>
<div class="center hero-unit">
  <h1>Home</h1>
  <p>
    Wilkommen bei Comparo.de, der Plattform für den Vergleich von Produkten.
  </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
