<% provide :title,'Home' %>

<% if signed_in? %>
    <% if current_user.admin? %>
        <div class="center hero-unit">
          <h1>Admin Dashboard</h1>
        </div>
    <% else %>
        <div class="center hero-unit">
          <h1>User Dashboard</h1>
        </div>
    <% end %>
<% else %>
    <div class="center hero-unit">
      <div id="wrapper">
        <div class="slider-wrapper theme-default">
          <div class="ribbon"></div>
          <div id="slider" class="ramblingSlider adaptingSlider">
            <%= image_tag('slide1.png', alt: '') %>
            <%= image_tag('slide2.png', alt: '') %>
            <%= image_tag('slide3.png', alt: '') %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(window).load(function() {
            $('#slider').ramblingSlider({
                effect: 'slideInRight',
                prevText: 'Prev',
                nextText: 'Next',
                animSpeed: 500,
                pauseTime: 10000,
                useLargerImage: true
            });
        });
    </script>

    <div class="center hero-unit">

      <%= link_to "Registrieren", signup_path, class: "btn btn-large btn-primary" %>
    </div>

<% end %>

