<% provide :title,'Impressum' %>
<div class="center hero-unit">
    <p>
        Power.check ist eine Marke der

        Powerwork KG
        Hauptstraße 100
        79761 Waldshut-Tiengen

        Tel: 07741/9660080
        Fax: 07741/96600822
    </p>
</div>