<% provide(:title, 'Meine Geräte') %>

<h1>Meine Geräte</h1>


<%= will_paginate %>

<ul class="paginationlist">
  <%= render @devices %>
</ul>

<%= will_paginate %>

<%= link_to "Neues Gerät anlegen", new_device_path(), class: "btn btn-primary pull-right" %>
