<%= render 'shared/error_messages_imports' %>

<div class="control-group">
  <div class="controls">
    <%= f.label :import_file, 'Datei auswählen'%>
    <%= f.file_field :import_file %>
  </div>
</div>
