<li>
  PrüfID: <%= link_to examination.id, examination %> | GeräteID: <%= link_to examination.device_id, examination.device %> | <%= link_to "Löschen", examination, method: :delete, data: { confirm: "Wirklich löschen?" } %>
</li>
