<% provide(:title, 'Meine Prüfberichte') %>

<%= link_to "Prüfbericht anlegen", new_examination_path, class: "btn btn-primary pull-right" %>

<h1>Meine Prüfberichte</h1>


<%= will_paginate %>

<ul class="paginationlist">
  <%= render @examinations %>
</ul>

<%= will_paginate %>
