<li>
  <%= link_to report.id, report %>  |<%= link_to "Anpassen", edit_report_path(report), method: :get%> | <%= link_to "Löschen", report, method: :delete, data: { confirm: "Wirklich löschen?" } %>
</li>
