<% provide(:title, 'Meine Prüfberichte') %>

<div class="hero-unit">
<%= link_to "Prüfbericht hochladen", new_report_path, class: "btn btn-primary pull-right" %>

<p class="pull-left">Meine Prüfberichte</p>

</div>

<%= will_paginate %>

<ul class="reports">
  <%= render @reports %>
</ul>

<%= will_paginate %>
