<% provide(:title, 'Meine Prüfberichte') %>

<%= link_to "Prüfbericht hochladen", new_report_path, class: "btn btn-primary pull-right" %>

<h1>Meine Prüfberichte</h1>


<%= will_paginate %>

<ul class="paginationlist">
  <%= render @reports %>
</ul>

<%= will_paginate %>
