<% provide(:title, "Prüfbericht anlegen") %>
<h1>Prüfbericht anlegen</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@report) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Prüfbericht anlegen", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
