<footer class="footer">
  <small>
    Quality made in Germany.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hilfe", help_path %></li>
      <li><%= link_to "Über uns", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>
